*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Display";
    
    

}
.c>img{
    width: 48vw;
}
.b>img{
    width: 49vw;
}
img{
    object-fit: cover;
}


body{
    background-color: #f2f2f2;
}
.b{background-color: chocolate;}



@media (min-width:375px) {
    .c>img{
        width: 24vw;
    }
    .b>img{
        width: 25vw;
    }
    .b{
        display: flex;
    }
    .image-hero-left{
        order: 5;
    }




    
}