* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display";
}

button {
  display: block;
  margin: auto;
}

header {
  display: flex;
  justify-content: center;
}
header p {
  color: #28283D;
}

img {
  object-fit: cover;
  border-radius: 16px;
}

main article h1 {
  line-height: 44px;
  color: #28283D;
  text-align: center;
  width: 80%;
  margin: auto;
  font-size: clamp(22px, 17vw, 35px);
}
main article p {
  color: #87879D;
  text-align: center;
  width: 95%;
}
main article div .first_button {
  background-color: #4D96A9;
  border-radius: 29px;
}
main article div .first_button span:first-child {
  color: #ffffff;
}
main article div .first_button span:last-child {
  color: #8FE3F9;
}
main article div .first_button:active {
  background-color: #71C0D4;
}
main article div .second_button {
  color: #ffffff;
  border-radius: 29px;
}

.images_container {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 1em;
}

.images_container > img {
  width: 44vw;
}

.main > img {
  width: 49vw;
}

footer {
  background-color: #4D96A9;
  background-image: url(mobile-footer.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  height: 300px;
}
footer p:first-child {
  color: #fafafa;
  line-height: 36px;
  font-size: clamp(15px, 14vw, 35px);
  text-align: center;
  font-weight: 900;
}
footer .hi {
  color: #fafafa;
}
footer button {
  border-radius: 29px;
}
footer button span:first-child {
  color: #ffffff;
}
footer button span:last-child {
  color: #d9b8ff;
}

body {
  background-color: #f2f2f2;
}

.second_button {
  background-color: #855FB1;
}

.second_button:active {
  background-color: #B18BDD;
}

.third_button {
  background-color: #855FB1;
}

.product_description p:first-child {
  text-transform: uppercase;
  text-align: center;
  color: #4d96a9;
  font-size: clamp(15px, 5vw, 30px);
  line-height: 26px;
  letter-spacing: 4px;
}
.product_description .middle_p {
  text-align: center;
  color: #28283D;
  line-height: 36px;
  letter-spacing: 0cap;
  font-size: clamp(20px, 11vw, 40px);
  font-weight: 900;
  background-color: brown;
}
.product_description p:last-child {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}

@media (min-width: 321px) and (max-width: 768px) {
  footer {
    background-image: url(tablet-footer.jpg);
  }
  .button_container {
    display: flex;
    justify-content: center;
  }
  .button_container .first_button {
    width: 25%;
  }
}
@media (min-width: 769px) {
  .images_container {
    display: flex;
    justify-content: space-between;
  }
  .images_container > img {
    width: 24vw;
  }
  .main > img {
    width: 35vw;
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-hero-left {
    order: 5;
  }
  footer {
    display: flex;
    background-image: url(desktop-footer.jpg);
    align-items: center;
    height: 308px;
  }
  button {
    display: inline;
  }
  .button_container {
    padding-left: 5em;
  }
}
@media (min-width: 1100px) {
  .button_container {
    padding-left: 10rem;
  }
}/*# sourceMappingURL=style.css.map */